- content_for :css do
  = stylesheet_link_tag 'slider/slider'
- content_for :js do
  = javascript_include_tag 'slider/slider'

.slider
  = link_to '<', '#', class: :bck
  = link_to '>', '#', class: :fwd
  
  %ul
    %li 
      %h2 one
      %p Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.Look before you leap, but having leapt never look back.
    / %li 
    /   %h2 two
    /   %p Look before you leap, but having leapt never look back.
    / %li 
    /   %h2 three
    /   %p Look before you leap, but having leapt never look back.
    / %li 
    /   %h2 four
    /   %p Look before you leap, but having leapt never look back.
    / %li 
    /   %h2 five
    /   %p Look before you leap, but having leapt never look back.
